/*! Form elements | © Oksidia Oy */

$buttonBaseFontSize: 16px;

/* The default/normal button */
.btn {
    @include inline-block;
 
    box-sizing: content-box;
 
    margin: 2px;
    padding: 4px 10px;
    
    border: 1px solid #aaa;
    border-radius: 3px;
 
    color: #555;
    text-decoration: none;
    font-size: $buttonBaseFontSize;
    line-height: 1.4;
 
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
    background-image: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
    background-image: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
 
    @include transition(( background-color 0.2s ease-in-out, box-shadow 0.1s ease-in-out ));
 
    box-shadow: inset 0 1px #fafafa;
 
    cursor: pointer;
}
.btn:hover {
    @include transition(( background-color 0.05s ease-in-out, box-shadow 0.1s ease-in-out ));
    background-color: #fefefe;
    box-shadow: none;
}
.btn:active {
    @include transition(( background-color 0.2s ease-in-out, box-shadow 0s linear ));
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
}
 
/* The base for coloured buttons */
.btn--coloured {
    @extend .btn;
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.2) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.2)));
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
    background-image: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
    background-image: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
 
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
 
/* The alternative coloured button */
.btn--alt {
    @extend .btn--coloured;
 
    border-color: #095bb6;
    color: #fff;
    background-color: #0b70e1;
    box-shadow: inset 0 1px #2b86ec;
 
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.btn--alt:hover {
    @extend .btn:hover;
    background-color: #2484f1;
}
.btn--alt:active {
    @include transition(( background-color 0.2s ease-in-out, box-shadow 0s linear ));
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
}
 
/* The call to action button */
.btn--primary {
    @extend .btn--coloured;
 
    border-color: #2c7e08;
    color: #fff;
    background-color: #3bac0d;
    box-shadow: inset 0 1px #35bc00;
}
.btn--primary:hover {
    @extend .btn:hover;
    color: #fff;
    background-color: #51cb1f;
}
 
/* The warning button */
.btn--warning {
    @extend .btn--coloured;
 
    border-color: #966507;
    color: #fff;
    background-color: #e5b40b;
    box-shadow: inset 0 1px #fbc50d;
}
.btn--warning:hover {
    @extend .btn:hover;
    color: #fff;
    background-color: #f9c515;
}
 
/* The danger button */
.btn--danger {
    @extend .btn--coloured;
 
    border-color: #964707;
    color: #fff;
    background-color: #d2510a;
    box-shadow: inset 0 1px #e76700;
}
.btn--danger:hover {
    @extend .btn:hover;
    color: #fff;
    background-color: #e7560f;
}

.btn--small {
    padding: 3px 8px;
    font-size: $buttonBaseFontSize * 0.87;
}
.btn--large {
    padding: 5px 16px;
    font-size: $buttonBaseFontSize * 1.17;
}
.btn--larger {
    padding: 7px 20px;
    font-size: $buttonBaseFontSize * 1.3;
}

input[type=text],
input[type=password],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=range],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week]
{
	width: 100%;
	padding: 4px;

	border: 1px solid #aaa;
	border-radius: 2px;

	margin: 2px 0;

	@include transition(( box-shadow 0.1s ease-in-out ));

	&:hover {
		border-color: #2d90cf;
	}

	&:active,
	&:focus {
		outline: 0;
		border-color: #2d90cf;
		box-shadow: 0 0 6px rgba(45, 144, 207, 0.4);
	}

	&.small {
		width: 15%;
	}

	&.medium {
		width: 35%;
	}

	&.medium {
		width: 75%;
	}
}

.select--small {
	width: 175px;
}
.select--medium {
	width: 225px;
}
.select--large {
	width: 275px;
}

// Sori :(
.input-title {
	display: block;
	padding: 0.15em;
    font-weight: bold;
	color: #555;
	font-size: 0.92em;
    text-transform: uppercase;
}
.input-styles {
	margin: 0;
	border: 1px solid #CCC;
	border-radius: 2px;
	padding: 0.4em 0.6em;
	color: #666;
}

.decorated-input {
	display: block;
	margin-bottom: 1em;

	span {
		@extend .input-title;
	}
	input {
		@extend .input-styles;
	}
}
.decorated-textarea {
	display: block;
	margin-bottom: 1em;

	span {
		@extend .input-title;
	}
	textarea {
		@extend .input-styles;
		min-height: 6em;
		width: 100%;
	}
}
.decorated-select {
	display: block;
	margin-bottom: 1em;

	span {
		@extend .input-title;
	}
	select {
		display: block;
		width: 100%;
		border: 1px solid #CCC;
		padding: 0.2em 0.3em;
		border-radius: 3px;
	}
}
.radio {
    display: block;
}