//
// Grid system
// --------------------------------------------------

$containerMaxWidth: 1200px !default;
$containerMinWidth: 100px !default;
$gridGutterWidth: 1.2em !default;
$columns: 12 !default;

$breakpoints: (
		tn: 0px,
		sm: 768px,
		md: 1024px,
		lg: 1280px
) !default;

// A container for columns.
.row {
  margin-left:  -1 * ($gridGutterWidth/2);
  margin-right: -1 * ($gridGutterWidth/2);

  @include clearfix;
}

// A column that also acts as a row
.column-row {
  @include clearfix;

  // Specificity
  html & {
    padding-left: 0;
    padding-right: 0;
  }
}

.col-default {
	position: relative;
	width: 100%;
  float: left;
  min-height: 1px;
  padding-left: ($gridGutterWidth / 2);
  padding-right: ($gridGutterWidth / 2);
}

// Creates grid classes for $name where this mixin is used,
// e.g. inside a media query or outside one.
@mixin gridSelectors($name, $breakpoint) {
	// On a 12-column layout:
	// col-name-0 ... col-name-11
  @for $i from 0 through ($columns - 1) {
    .col-#{$name}-#{$i} {
      width: percentage($i/$columns);
      float: left;
    }
    .col-#{$name}-push-#{$i} {
      left: percentage($i/$columns);
    }
    .col-#{$name}-pull-#{$i} {
      right: percentage($i/$columns);
    }
    .col-#{$name}-offset-#{$i} {
      margin-left: percentage($i/$columns);
    }
  }

	// col-name-12
  .col-#{$name}-#{$columns} {
    width: 100%;
    float: left;
  }
}

@mixin gridSelectorDefaults($name, $breakpoint) {
  @for $i from 1 through $columns {
    .col-#{$name}-#{$i} {
		@extend .col-default;
    }
  }
}

@mixin createBreakpoint($name, $breakpoint) {
  // Default styles for the breakpoint's grid classes
  @include gridSelectorDefaults($name, $breakpoint);

  // The default breakpoint (mobile-first)
  @if $breakpoint == 0 {
    @include gridSelectors($name, $breakpoint);
  }

  // Other breakpoints
  @else {
    @media (min-width: $breakpoint) {
	  $thisContainerWidth: max($containerMinWidth, min($breakpoint, $containerMaxWidth));

	  @if $thisContainerWidth > $containerMinWidth {
        .container {
          max-width: $thisContainerWidth;
        }
	  } @else {
		.container {
		  max-width: $containerMinWidth;
		}
	  }

      .visible-#{$name} {
        display: block !important;
      }
      .visible-cell-#{$name} {
        display: table-cell !important;
      }
      .visible-inline-#{$name} {
        display: inline !important;
      }

      .hidden-#{$name} {
        display: none !important;
      }

      @include gridSelectors($name, $breakpoint);
    }
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: ($gridGutterWidth/2);
  padding-right: ($gridGutterWidth/2);

  @include clearfix;
}

.start-hidden {
  display: none !important;
}

@mixin atBreakpoint($name) {
	@media (min-width: map-get($breakpoints, $name)) {
		@content;
	}
}

// Generate the grid
@each $name, $breakpoint in $breakpoints {
	@include createBreakpoint($name, $breakpoint);
}