// http://nicolasgallagher.com/micro-clearfix-hack/
.cf {
	*zoom: 1;

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.uncollapse-margins {
	overflow: hidden;
}

/*!
 * Thanks to Bootstrap for .sr-only and @-ms-viewport
 * http://www.apache.org/licenses/LICENSE-2.0
*/

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}

@-ms-viewport {
	width: device-width;
}