// Clearfixinguu!
@mixin clearfix {
	&:before, &:after {content:" ";display:table;}
	&:after {clear:both;}
	& {*zoom: 1;}
}
@mixin clearbreak {
	& {
		clear: both;
	}
}

// 
// Misc
// 

@mixin transition($settings) {
	-webkit-transition: $settings;
	-moz-transition: $settings;
	-ms-transition: $settings;
	-o-transition: $settings;
	transition: $settings;
}

@mixin user-select($settings) {
 -webkit-user-select: $settings;
    -moz-user-select: $settings;
     -ms-user-select: $settings;
         user-select: $settings;
}

@mixin inline-block {
    display: inline-block;
    zoom: 1;
    *display: inline;
}