html {
	font: normal 62.5%/1.4 $fontStack;
}
body {
	font-size: $fontBodySize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

$header1Margin: .68em 0 .34em;
$header2Margin: .84em 0 .42em;
$header3Margin: .66em 0;
$header4Margin: .87em 0;

$h1Color: $verkaBlue;
$h2Color: $verkaGreen;
$h3Color: $verkaPink;
$h4Color: $verkaGray;

h1 {
	margin: $header1Margin;
	font: 700 2.2em/1.5 $fontStack;

	@include atBreakpoint('sm') {
		font: 700 2.6em/1.5 $fontStack;
	}

	color: $h1Color;

	& a,
	.content & a {
		color: $h1Color;

		&:hover {
			color: lighten($h1Color, 10%);
		}
	}
}

h2 {
	margin: $header2Margin;
	font: 700 1.65em/1.35 $fontStack;

	@include atBreakpoint('sm') {
		font: 700 1.65em/1.35 $fontStack;
	}

	color: $h2Color;

	& a,
	.content & a {
		color: $h2Color;

		&:hover {
			color: lighten($h2Color, 10%);
		}
	}
}

h3 {
	margin: $header3Margin;
	font: 700 1.3em/1.2 $fontStack;

	@include atBreakpoint('sm') {
		font: 700 1.3em/1.2 $fontStack;
	}

	color: $h3Color;

	& a,
	.content & a {
		color: $h3Color;

		&:hover {
			color: lighten($h3Color, 10%);
		}
	}
}

h4 {
	margin: $header4Margin;
	font: 700 1.1em/1.1 $fontStack;

	@include atBreakpoint('sm') {
		font: 700 1.1em/1.1 $fontStack;
	}

	color: $h4Color;

	& a,
	.content & a {
		color: $h4Color;

		&:hover {
			color: lighten($h4Color, 10%);
		}
	}
}

a {
	text-decoration: none;
	color: #FFF;
}