// 
// Typography
// 
@font-face {
	font-family: 'Minecraftia';
	src: url('../assets/fonts/Minecraftia.eot');
	src: local('☺'), url('../assets/fonts/Minecraftia.woff') format('woff'), url('../assets/fonts/Minecraftia.ttf') format('truetype'), url('../assets/fonts/Minecraftia.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$fontStack: 'source-sans-pro', Arial, sans-serif;
$fontAltStack: 'adelle', Georgia, sans-serif;
$fontBodySize: 1.8em;

$verkaGreen: #AABB47;
$verkaYellow: #E9AF30;
$verkaPink: #BD3878;
$verkaBlue: #3D6CB2;
$verkaGray: #8499A5;
$verkaWhite: #E9EBEB;

// 
// Misc
// 

// Styles used in content-sidemenu
$treeUlPadding: 1.3em;
$treeIndicatorWidth: 0.0625em;
$treeItemIndicatorWidth: .4em;
$treeItemIndicatorYPos: .9em;
$treeListIndicatorXPos: ($treeUlPadding - 0.35em);
$treeListColor: #CCC;

$contentMaxWidth: 60em;

// Grid and breakpoints
$containerMaxWidth: 1200px;
$containerMinWidth: 100px;
$gridGutterWidth: 30px;
$columns: 12;

$breakpoints: (
	"tn": 0px,
	"xs": 480px,
	"msm": 640px,
	"sm": 768px,
	"smd": 840px,
	"md": 1024px,
	"lmd": 1150px,
	"lg": 1280px,
	"xl": 1440px,
	"xxl": 1550px,
	"xxxl": 1700px
);

// 
// Paperstack shadowstack (((:
// 
%smallShadowStack {
	box-shadow:
		1px   1px 0 rgba(  0,  0,  0, 0.075),
		3px   3px 0 rgba(255,255,255, 1.000),
		4px   4px 0 rgba(  0,  0,  0, 0.100),
		6px   6px 0 rgba(255,255,255, 1.000),
		7px   7px 0 rgba(  0,  0,  0, 0.125),
		9px   9px 0 rgba(255,255,255, 1.000);
}
%largeShadowStack {
	box-shadow:
		1px   1px 0 rgba(  0,  0,  0, 0.075),
		3px   3px 0 rgba(255,255,255, 1.000),
		4px   4px 0 rgba(  0,  0,  0, 0.100),
		6px   6px 0 rgba(255,255,255, 1.000),
		7px   7px 0 rgba(  0,  0,  0, 0.125),
		9px   9px 0 rgba(255,255,255, 1.000),
		10px 10px 0 rgba(  0,  0,  0, 0.150),
		12px 12px 0 rgba(255,255,255, 1.000),
		13px 13px 0 rgba(  0,  0,  0, 0.175),
		15px 15px 0 rgba(255,255,255, 1.000);
}